<%- include("./partials/header") %>
<div class="container mt-5" style="color:white">
		<h1 style="text-align: center" >
          Login!</h1>
</div>
<div style="width:30%; margin:25px auto">
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login!">
</form>
	</div>

<%- include("./partials/header") %>