<%- include("./partials/header") %>
<div class="container mt-5" style="color:white">
		<h1 style="text-align: center" >
          SignUp!</h1>
</div>
<div style="width:30%; margin:25px auto">
<form action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign Up</button>
</form>
</div>
<%- include("./partials/header") %>